.card-details{
    background: #fafafa; 
    padding: 4em 0 2em 0 ;
    position: relative;  
}
.card-details h2{
    font-size: 1.4em;  
    margin-bottom: .6em; 
    color: #2e2e2e; 
    text-transform: uppercase; 
}
.card-details .product{
    display: flex;  
    position: relative;  
    margin-bottom: 2em;  
    padding: 2em 0 1em 0 ;  
    border-bottom: 1px solid #cacaca;
}
.card-details .product p{
    margin: 0 0 .5em 0 ;  
    height: auto;  
    font-size: .8em;
}
.card-details .product img{
    width: 10em;
    margin-right: 1em;   
}
.card-details .product .price{
    position: relative; 
    background: transparent;  
    padding: 0;  
    color: #6a6a6a; 
    text-transform: uppercase; 
    margin-bottom: 1em; 
    font-size: .9em; 
}
.card-details .product .price .old{
    font-size: .9em;  
    text-decoration: line-through; 
    font-weight: 400;  
}
.card-details .product .content{
    width: calc(100% - 10em);  
    display: flex;  
    justify-content: space-between; 
}

.card-details .product .content .product-name{
    text-transform: unset;  
    margin: 0 0 .5em 0 ;  
    height: auto;  
    font-size: 1.2em;  
    font-weight: 500;  
    color: #000000;
}
.card-details .quantity button{
    background: #79cba8;
    font-size: .8em;  
}
.card-details .quantity input{
    font-size: .8em;  
}
.money-product {
    margin-top: 4px;  

}

.delete{
    position: absolute; 
    top: 0; 
    right: 0;  
    background: transparent; 
    border: 0;  
    color: #d9d9d9; 
}
.pay{
    background: #fff;  
    padding: 2em 1em 1em 1em ;  
    margin-left: 2em;  
}

.pay .sum-money .money{
    font-size: 1.4em;  
    color: #f00; 
    margin-top: -4px;  
}
.pay button{
    border: 0;  
    padding: .3em .8em;
    width: 100%;  
    border-radius: 4px;  
    background: #dd0000; 
    color: #fff;  
    transition: .2s; 
    opacity: .8; 
}
.pay button:hover{
    opacity: 1; 
}

.product-relation{
    background: #fafafa; 
    position: relative; 
}