*{
	margin: 0 ;  
	padding: 0;  
	outline: none;
	font-family: 'Montserrat', sans-serif;
}
header{
	position: relative;  
	background: #fff; 
}
.menu-top{
	display: flex;   
	padding: 2.8em 0 0 0 ;   
}
.menu-top ul{
	list-style: none; 
	display: flex ;   
}
.menu-top ul li{
	margin: 0 0 0 2em ;   
	color: #ffffff; 
	text-transform: uppercase;  
}
.menu-top ul li sup{
	font-size: .9em;
	color: #79cba8;   
}
.menu-top ul li i{
	color: #79cba8; 
	font-size: 1.3em;   
}
.menu-top ul li a{
	color: #2e2e2e; 
	font-weight: 400;   
}
.menu-top ul li a:hover{
	text-decoration: none;  
}

.btn-custom-01{
	background: #79cba8;
	border: 2px solid #79cba8;
	padding: 3px 16px;
	margin-right: 4px;
	position: relative;
}
.btn-custom-01 span{
	position: relative; 
	color: #fff;
    transition: .4s;   
    text-transform: uppercase;  
    font-size: .8em;  
    font-weight: 500; 
}
.btn-custom-01::before{
	position: absolute;  
	border: 0; 
	content: "";  
    top:0 ;  
    right: 0;  
    height: 100% ;   
    width: 0; 
    background: #fff; 
	transition: .4s;  
}
.btn-custom-01:hover::before{
	width:100% ;  
 	left: 0; 
}
.btn-custom-01:hover span{
	color: #79cba8; 
	z-index: 2; 
	position: relative;  
}
.btn-custom-02{
	background: #ffffff;  
	border: 2px solid #79cba8 ;   
	padding: 3px  16px; 
    position: relative;
    margin-right: 4px;  
    overflow: hidden;
}
.btn-custom-02 span{
	position: relative; 
	color: #79cba8;
    transition: .4s;   
    text-transform: uppercase;  
    font-size: .8em;  
    font-weight: 500;  
}
.btn-custom-02::before{
	position: absolute;  
	content: "";  
    top:0 ;  
    left: -2em;  
    height: 100%;
    width: 0; 
    background: #79cba8; 
	transition: .4s;  
	transform: skewX(45deg);
}
.btn-custom-02:hover span{
	color: #fff; 
	z-index: 2; 
	position: relative; 
}
.btn-custom-02:hover::before{
	width:calc(100% + 3em) ; 
	 
}
.slider__container .slider-item{
	position: relative;  
	display: none;   
	animation: slider 1s linear 1 ; 
}
.slider__container .slider-item:first-child{
	display: block;  
}
.slider__container{
	background-image: url('https://images.pexels.com/photos/461428/pexels-photo-461428.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
	background-size: cover;
	position: relative;  
}
.slider__container .btn-direct{
	position: absolute;  
	top: 46%;
	display: flex;  
	width: 100%; 
	justify-content: space-between;  
	padding: 0 1em ;
}
.slider__container .btn-direct button{
	background: transparent;  
	border: 0;  
	color: #fff;
	opacity: .6; 
	transition: .2s; 
	outline:  none; 
	z-index: 2;
	font-size: 2em; 
}
.slider__container .btn-direct button:hover{
    opacity: 1; 
}
.slider-item::before{
	position: absolute; 
	content: ""; 
	bottom: 0; 
	left: 0;  
	width: 100%;  
	height: 50%;  
	background: linear-gradient(transparent , #000);  
}
.slider-item .img{
	height: 45em;  
	overflow: hidden;   
}
.slider-item .content{
	position: absolute;  
	padding: 0 10em ;  
	bottom: 20%; 
	left: 0  ; 
	z-index: 2;  
}
.slider-item .content p{
	font-size: 1.2em;  
	color: #f6f6f6;
	margin-bottom: .5em; 
	text-transform: uppercase;  
}
.slider-item .content p.title{
    font-size: 3.5em;  
    color: #fff; 
    font-weight: 600;  
    margin-bottom:0; 
    animation: slider_title 1.2s linear 1; 
    text-transform: unset;  
    margin-bottom: 0; 
} 


.box-titles{
	text-align: center;   
    margin-bottom: 2em;   
}
.box-titles h2{
	font-family: 'Source Code Pro', monospace;
}
.box-titles p{
	font-weight: 300;  
}
.section-01{
	background-image: url("../img/bg_white.jpg");
	background-size: cover;
	padding: 5em 0  3em 0 ;  
}
.section-01 .content{
	padding: 2em; 
}
.section-01 .content .name{
	text-transform: uppercase;  
	font-size: 1.3em;  
	font-weight: 500;  

}
.section-01 .content .price{
	text-transform: uppercase;  
	font-size: 1.3em;  
	font-weight: 600;  
	color: #79cba8;
}
.section-01 .content .des{
	font-size: 1em;
	color: #A6A29E;     
}
.section-01 .content .count-time span{
	font-size: 3.5em;
	margin-right: .4em;  
	color: #D8A800; 
}
.section-02{
	background: url("../img/bg.jpg");
	background-size: cover;
	padding: 5em 0 3em 0 ;
}
.section-02 .content{
	padding: 3em 0; 
}
.section-02 .content p{
	color: #fff;  
}
.section-02 .content.text-left p{
	color: #000; 
}
.section-02 .content .name{
	text-transform: uppercase;  
	font-size: 1.3em;  
	font-weight: 500
}
.section-02 .content .price{
	text-transform: uppercase;  
	font-size: 2em;  
	font-weight: 500; 
}
.section-02  img{
	margin-top: -2em;
}
@keyframes slideTitle{
    from{  opacity: .4;}
    to{  opacity: 1;}
}

.section-03{
	padding:  3em 0 2em 0 ; 
	background-image: url("../img/bg_white.jpg");
	background-size: cover; 
}
.list-product{
	display: flex; 
	flex-wrap: wrap;  
	justify-content: space-between;  
}
.list-product .product{
	width: 26%;  
	margin-bottom: 4em;  
}
.section-03 .product .post-product{
	height: 3em;  
	padding-top: .5em;  
}
.section-03 .product p{
	text-transform: uppercase;  
	font-size: .9em;
	font-weight: 400;  
}
.section-03 .product .price{
	font-size: 1.2em; 
	font-weight: 500;  
	color:#79cba8;   
}

.categories .category{
	width:calc(100%/3);  
	height: 200px; 
	overflow: hidden; 
	position: relative;  
}
.categories .category::before{
	position: absolute;  
	content: "";  
	top: 0; 
	left: 0;  
	width: 100%; 
	height: 100%;  
	background: #2626264a; 
	z-index: 1; 
}
.categories{
	display: flex;  
	flex-wrap: wrap;  
}
.categories .content{
	padding: 5em 2em 2em 4em;  
	position: absolute;  
	top: 0; 
	left: 0;  
	text-align: center;  
	transition: .3s; 
	z-index: 2;  
    opacity: 0;   
}
.categories .content p{
	font-size: 1em;  
	font-weight: 700;  
	color: #ffffff;  
	margin-bottom: .5em;  
}
.categories .content .post{
	color: #e5e5e5; 
	font-size: .8em; 
}
.categories .category img{
	transition: .3s;  
}
.categories .category:hover .content{
	opacity: 1;  
}
.categories .category:hover img{
	transform: scale(1.1); 
}
.section-05{
	padding: 4em 0;  
	background: #f1f1f1; 
}
.section-05 .row > div{
	padding: 0;  
	background: #ffff;  
}
.section-05 .row .content{
	padding: 2em 4em;  
}
.section-05 .row .content h3{
	font-size: 1.8em;  
	font-weight: 500; 
	color: #454545; 
	letter-spacing: 2px;  
	margin-bottom: 1em;  
}
.section-05 .row .content .sumary-content{
    font-weight: 500; 
    color:#9b9b9b; 
    margin-bottom:2em;
}
.section-05 .row .content .post-date{
	text-transform: uppercase;  
	font-weight: 600;
	font-size: .9em;   
	color: #c8c8c8; 
	margin-bottom: 1.5em;  
}
.section-05 .content a{
	font-size: 1.2em; 
}
.section-05 .content a:hover{
	text-decoration: none;  
}
.section-05  .img{
	max-height: 500px; 
	overflow: hidden;  
}
.section-05 .blogs{
	display: flex;  
	justify-content: space-between;  
}
.section-05 .blogs .blog{
	width: 30%;  
	background: #fff; 
	margin-top: 1em;  
	position: relative; 
}
.section-05 .blogs .blog .content{
	padding: 1em;
	position: absolute;  
	bottom: 0; 
	width: 80%;
	background: #ffff;  
}
.section-05 a:hover{
	text-decoration: none; 
}
.section-05 .blogs .blog .content p{
	margin-bottom: .5em; 
    font-weight: 600; 
}
.section-05 .blogs .blog .content .title{
	font-weight: 700;  
	height: 3em;  
	color: #3a3a3a; 
}
.section-05 .blogs .blog .content .post-date{
	font-size: .8em;  
	text-transform: uppercase;  
	color: #8b8b8b; 
	margin-bottom: 0;  
}
footer .footer{
	background: #000; 
	position: relative;   
	padding: 4em 2em 2em 2em;   
}
footer .footer-bottom{
	background: #2a2a2a; 
	padding: .5em;  
	position: relative;  
}
footer .footer-bottom p{
	margin: 0; 
	text-align: center;  
	color: #a1a1a1; 
}
footer h3{
	color: #e9e9e9;  
	font-size: 1.2em;  
	padding-bottom: .4em; 
	margin-bottom: 1em;  
	width: 60%;  
	border-bottom: 2px solid #46d186;  
}
footer ul{
	list-style: none;  
}
footer ul li{
	margin-bottom: 1em;  
    color: #d7d7d7;
    font-size: .9em; 
}
footer ul li a{
	color: #d7d7d7;  
}
footer ul li a:hover{
	color: #e7e7e7;  
	text-decoration: none; 
}
footer ul li i{
	color: #28a745; 
	margin-right: .5em;  
	width: .5em;  
}
.footer .content{
	width:80%;  
	margin-top: 2em; 
}
.footer .content p{
	color: #d7d7d7; 
	font-size: .9em; 
}
.background{
	position: fixed;  
	top: 0; 
	left: 0;  
	width: 100%;  
}

.link-summary{
	position: relative; 
	background: #fff; 
	padding: 2em 0 ;
	
}
.link-summary a{
	font-weight: 500;  
	color: #9b9b9b;
}

.link-summary span{
	margin: 0 1em;  
	color: #9b9b9b;
	font-size: .8em;  
}
.link-summary a:last-child{
	color: #00ac27; 
}
.link-summary a:hover{
	text-decoration: none;  
	opacity: .8;
}
.cart-box{
	position: fixed;
	top: 0 ;
	left: 0;  
	width: 100%; 
	height: 100%; 
	background: #0000005c; 
	z-index: 3; 
	animation: cartBox .5s linear 1; 
	display: none;
	overflow: hidden;
}
.cart-box .box-left{
	position: absolute;  
	top: 0;  
	right: 0;  
	width: 20em;  
	height: 100%;  
	background: #fff;
	animation: productInCart .8s linear 1;  

}
.cart-box .box-left .product-in-cart{
	position: relative;  
	padding: 2em 1em; 
	height: calc(100% - 5em ); 
	overflow-y: scroll;
}
.cart-box .box-left .product-in-cart::-webkit-scrollbar {
  width: 0;
}
.cart-box .product-in-cart img{
	width: 5em; 
	margin-right: 1em; 
}
.cart-box .product{
	position: relative;  
	display: flex;  
	padding: 1em 0 ; 
	margin-bottom: 1em;  
	border-bottom: 1px solid #dfdfdf; 
}
.cart-box .product p{
	margin: 0 0 .5em 0   ; 
	height :auto;   
	font-size: .8em;  
}
.cart-box .product .price{
	position: relative;  
}
.cart-box .product .product-name{
	font-size: .9em;  
	font-weight: 500; 
}
.cart-box .product .price{
	font-size: .9em; 
	text-transform: uppercase;  
	font-weight: 400;  
	padding: 0;  
}
.cart-box .product .price .old{
	font-size: .9em; 
	text-decoration: line-through;  
	color: #b2b2b2; 
}
.cart-box .quantity{
	margin: 0;  
}
.cart-box .quantity button{
	font-size: .8em;  
}
.cart-box .quantity input{
	width: 3em; 
	font-size: .8em;  
}
.cart-box .delete{
	position: absolute;  
	top: 0;  
    right: 0 ; 
    background: transparent;
    border: 0;  
    color: #9f9f9f; 
     
}
.cart-box h2{
	font-size: 1.5em;  
	text-align: center;  
	padding: 1em;  
	background: #5ed1a0; 
	color: #fff;  
}
.detailsCart-link{
	position: absolute;  
	bottom: 0;  
	left: 0;  
	width: 100%;  
	padding: 1em;  
	text-align: center;  
	background: #5ed1a0; 
	margin-bottom: 0; 
	
}
.detailsCart-link a{
	color: #fff; 
	font-size: 1.2em;  
}
.detailsCart-link a:hover{
	text-decoration: none; 
}

.menu.fixed-top{
	position: fixed;
	top : 0;
	left: 0 ; 
	width: 100%; 
	background: #fff;
	border-bottom: 1px solid #ededed ;
	z-index: 2; 
}
@keyframes slider{
	from { opacity: 0 }
	to{ opacity: 1 }
}
@keyframes slider_title{
	0%{ opacity: 0}
	50%{ opacity: 0}
	100%{ opacity: 1}

}

@keyframes cartBox{
	from{ opacity: 0 }
	to{opacity: 1}
}

@keyframes productInCart{
	from{ margin-right: -2em;  }
	to{ margin-right: 0;  }
}